# Soroban
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# Contract IDs (fill after deploy)
NEXT_PUBLIC_IDENTITY_REGISTRY_CONTRACT_ID=
NEXT_PUBLIC_WALLET_LINK_CONTRACT_ID=
NEXT_PUBLIC_REPUTATION_SCORE_CONTRACT_ID=

# Simulation
NEXT_PUBLIC_SIMULATION_ACCOUNT=

# Indexer
NEXT_PUBLIC_INDEXER_URL=http://localhost:4000
DATABASE_URL=postgresql://localhost:5432/nexusid
INDEXER_PORT=4000
